.content-btn{
    padding: auto;
    margin-bottom: 15px;
}

/*Home page*/
.home-welcome{
    font-size: 20px;
    font-weight: 400;
    color: #5665ba;
}

.content-home-background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 50%;
    }
}

/*Login*/
.content-login{
    padding: 20px;
    width: 50%;
    border: 1px #E8E1E1 solid;
    border-radius: 10px;
    margin-top: 20px;

    h4{
        text-align: center;
    }

    .content-btn-login{
        display: flex;
        justify-content: center;
        align-items: center;

        .btn{
            margin-inline: 20px;
        }
    }

    .content-link{
        padding: auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            color: #9c9999;
        }
    }

}

/*form register*/
.content-register{
    padding: 20px;
    width: 50%;
    border: 1px #E8E1E1 solid;
    border-radius: 10px;
    margin-block: 20px;

    h4{
        text-align: center;
    }

    .content-btn-register{
        display: flex;
        justify-content: center;
        align-items: center;

        .btn{
            margin-inline: 20px;
        }
    }
}

/*form load documents*/
.content-load-documents{
    padding: 20px;
    width: 50%;
    border: 1px #E8E1E1 solid;
    border-radius: 10px;
    margin-block: 20px;

    h4{
        text-align: center;
    }

    .content-btn-documents{
        display: flex;
        justify-content: center;
        align-items: center;

        .btn{
            margin-inline: 20px;
        }
    }
}

/*form category*/
.content-category{
    padding: 20px;
    width: 50%;
    border: 1px #E8E1E1 solid;
    border-radius: 10px;
    margin-block: 20px;

    h4{
        text-align: center;
    }

    .content-btn-category{
        display: flex;
        justify-content: center;
        align-items: center;

        .btn{
            margin-inline: 20px;
        }
    }
}

/*View documents*/
.content-documents{
    .head-repo-documents{
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        align-items: center;
        margin-top: 20px;
    }

    .body-repo-documents{
        padding: 20px;
        width: 100%;
        border: 1px #E8E1E1 solid;
        border-radius: 10px;
        margin-block: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .folders{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px;
        }

        .files{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px;
        }

        
    }
    .none{
        display:none;
    }
}
.modal .content-load-documents{
  width: 95% !important;
}

#menu-file {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;

  a{
    text-decoration: none;
  }
}

/*Media querys*/
@media (max-width: 920px) {
  .content-login, .content-register, .content-load-documents, .content-category{
    width: 95%;
  }
}

